@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap');

#root {
  margin: 0 auto;
}

* {
  box-sizing: border-box;
  font-family: 'Satoshi', sans-serif;
}

button, h1, h2, h3, h4, p, input, textarea {
  font-weight: inherit;
}

h1 {
  font-size: clamp(2rem, 4.5vw, 3rem); 
  line-height: 1.05;
  margin-bottom: clamp(0.75rem, 2vw, 1.25rem);
  font-weight: 400;
}

h2 {
  font-size: clamp(1.7rem, 4.5vw, 3rem); 
  line-height: 1.05;
  margin-bottom: clamp(0.75rem, 2vw, 1.25rem);
  font-weight: 400;
}

h4 {
  font-size: clamp(18px, 2.5vw, 24px);
  font-weight: 500;
  margin-bottom: 6px;
}

p {
  font-size: clamp(14px, 2vw, 20px);
  margin-bottom: clamp(20px, 3vw, 24px);
  letter-spacing: 0px;
}

button {
  /* padding: 10px 18px; */
  padding: clamp(10px, 2vw, 17px) clamp(18px, 3vw, 18px);
  background: #00A5FE;
  border: none;
  color: #fff;
  font-size: clamp(14px, 2vw, 20px);
  cursor: pointer;
  border-radius: 10px;
  letter-spacing: 1px;
}


button:hover {
  background: #0056b3;
}