.features {
  padding: clamp(48px, 6vw, 100px) 20px;
  background: #ffffff;
}

.featuresContainer {
  max-width: 1900px;
  padding: clamp(24px, 4vw, 36px) clamp(24px, 6vw, 80px);

  margin: auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr;
  gap: clamp(40px, 6vw, 80px);
  align-items: start;
}

/* LEFT SIDE */

.featuresLeft {
  align-self: center;
}

/* RIGHT SIDE */

.featuresRight {
  display: flex;
  flex-direction: column;
  gap: clamp(24px, 4vw, 36px);
}

.featureItem {
  display: flex;
  gap: clamp(16px, 2vw, 20px);
  align-items: flex-start;
}

.featureNumber {
  width: clamp(40px, 4vw, 60px);
  height: clamp(40px, 4vw, 60px);
  border-radius: 50%;
  background: #00A5FE;
  color: #ffffff;
  font-size: clamp(16px, 2vw, 22px);
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.featureContent h4 {
  color: #000000;
}

.featureContent p {
  font-size: clamp(12px, 2vw, 18px);
}

/* RESPONSIVE */

@media (max-width: 900px) {
  .featuresContainer {
    grid-template-columns: 1fr;
  }

  .featuresLeft {
    text-align: center;
  }

  .featuresBtn {
    align-self: center;
  }
}
