.hero {
  padding: clamp(40px, 6vw, 60px) 20px;
  background: #ffffff;
}

.heroContainer {
  max-width: 1900px;
  margin: auto;
  padding: clamp(24px, 4vw, 36px) clamp(24px, 6vw, 80px);

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: clamp(24px, 5vw, 40px);
  align-items: center;
  /* padding: 56px 120px; */
}

/* Left content */
.heroText h1 {
  font-weight: 400;
  line-height: 1;
  margin-bottom: clamp(16px, 3vw, 24px);
}

.heroText p {
  line-height: 1.2;
}

/* Right images */
.heroImages {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px; */
  /* */
  width: clamp(280px, 35vw, 720px);
  /* aspect-ratio: 1 / 1;
  place-self: center;  */
  height: clamp(280px, 35vw, 720px);
  justify-self: right;
  align-self: center;
 
  
  overflow: hidden;
}

.heroImages img {
  width: 100%;
  height: 100%; /* */
  /* height: 360px; */
  object-fit: cover;
  border-radius: 15px;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .heroContainer {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .heroImages {
    width: 100%;
    height: 100%;
    /* width: clamp(220px, 70vw, 300px); */
    justify-self: center;
  }
}
